
.repo-list__item{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 5px;
  background: #fff;
  height: 6.9vh;
  align-items: center;
  font-size: 18px;

  & .name-repo{
    flex:0 1 50%;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .stars-repo{
      flex: 0 0 150px;
      text-align: center;
  }

  & .update-repo{
    text-align: center;
    flex: 0 0 210px;
  }
}