.card-repo{
    background-color: #f1f1f1;

    & .card-repo__title{

    }

    &__content{
        display: flex;
        gap:20px;

        & .card-content__item{
            
            & .card-avatar{
                max-width: 300px;

                img{
                    width: 100%;
                }
            }
        }
    }
}